*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.form-design{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;   
    margin-top:100px;
   margin-left:150px;
    width: 80%;
    height:100%;
margin-bottom: 50px;


}

input{
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
p{
    color: red;
}
a{
    color: white;
    margin-left: 100px;
    margin-bottom: 20px;
}
button{
    background-color: aqua;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

